
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br><br>
    <h1 class="buyuk-baslik"><i>Teknofest Roket Yarışması Sonuçlandı!</i></h1>
    <hr><br><br>
    <h2>Roketsan'ın TEKNOFEST kapsamındaki Roket Yarışması'nın kazananları belli oldu</h2><br>
    <div class="row">
        <p>
            Roketsan'dan yapılan yazılı açıklamaya göre, yarışmada, yüksek irtifa kategorisinde birinciliği 1,5 Adana - WOF Takımı, ikinciliği Genç Mimar Sinan Vefa Roket Takımı, üçüncülüğü Samsun Roket Takımı elde etti.
            Orta irtifa kategorisinde ise birinci Tanyeli Roket Takımı, ikinci İpek Yolu Roket Takımı, üçüncü Gökova Roket Takımı oldu.
            Lise alçak irtifa kategorisinde ise birinciliğe Eryurt Roket Takımı layık görülürken, ikincilik ve üçüncülük için ise takımlar gerekli kriterleri sağlayamadı.
        </p>
    </div> <br>
    <div align="center">
        <img src="@Url.Content("~/Content/Site/fotoğraflar/haber2.jpg")" class="haber-fotograf">
    </div>
    <br><br><br>

    <br>
    <h4>Bu yıl 544 takım başvurmuş!</h4><br>
    <p>
        Bu yıl 544 takımın başvurduğu yarışmada en fazla başvuru 296 takımla "orta irtifa" kategorisinde gerçekleştirildi. Bunu 223 başvuru ile 'lise' kategorisi takip ederken, 21 takım "yüksek irtifa" kategorisi için başvurdu.
        İlk defa açılan 'zorlu görev' kategorisinde ise 4 takımın başvurusu kabul edildi.
        Öte yandan 13'ü lise kategorisi, 55'i orta irtifa, 10'u yüksek irtifa ve 2'si zorlu görev olmak üzere toplam 80 takım yarışmaya katılma hakkı kazandı.
        Yarışmada, takımların tasarlayıp ürettikleri roketlerin hedef irtifaya erişmesi, roket içerisinde taşınan asgari 4 kilogramlık faydalı yükün roketten çeşitli yöntemlerle ayrılması, hem roket bileşenleri hem de faydalı yükün paraşütle yere sağlam indirilerek kurtarılması hedeflendi.

    </p>
    <p>Dereceye giren takımlara ödülleri, TEKNOFEST'te verildi.</p>
    <br>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
