
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br><br>
    <h1 class="buyuk-baslik"><i>KURTARMA SİSTEMİ</i></h1>
    <hr>

    <p>
        Roket kurtarma sisteminin tasarımı, TEKNOFEST gibi yarışmalar için oldukça önemlidir.
        Kurtarma sistemi sayesinde atıştan sonra roketin sağlam bir şekilde kurtarılması sağlanır ve böylelikte roket tekrar kullanılabilecek durumdadır.
    </p>

    <h6><strong>Paraşüt</strong></h6>

    <ul type="circle">
        <li>Kurtarma sistemi olarak paraşüt kullanılmalıdır. Paraşütlerin uzaktan gözle rahat tespit edilebilmesi için kesinlikle beyaz ve mavi renklerde olmamalıdır.</li>
        <li>Kullanılacak paraşütler kademeli olarak tasarlanmalıdır. Birincil, ikincil vs. gibi kurtarılmak istenen alt bileşenlere ve sayısına göre birden fazla paraşüt kullanılabilir.</li>

        <li>Birincil paraşüt ilk açılacak paraşüt olarak tanımlanmaktadır. Birincil paraşüt azamî irtifadan hemen sonra açılacaktır.</li>
        <li>İkincil paraşüt ana paraşüt olarak tanımlanmaktadır. Ana paraşüt en erken yere 600 m ve en geç 400 m kala açılmalıdır. </li>
        <li>Roketin ve parçaların hasar görmemesi için ana paraşütle taşınan yüklerin hızı azami 9 m/s, asgari ise 5 m/s olmalıdır.</li>
    </ul>
    <br>
    <h6><strong>Faydalı Yük</strong></h6>

    <ul type="circle">
        <li>Faydalı yükün kütlesi asgari dört (4) kg olmalıdır. </li>
        <li>Faydalı yük burunda konumlandırılmayacaktır. </li>
        <li>Faydalı yük, roketin çıkacağı tepe noktasına erişmesinden hemen sonra birinci paraşüt açıldıktan sonra ikinci paraşüt açılmadan önceki zaman diliminde serbest bırakılacaktır. </li>
        <li>Burun ile roketin geri kalanı (gövdesi) birbirine bağlı olarak indirileceğinden faydalı yük, roket ve burun ile herhangi bir bağlantısı olmadan tek başına kendi paraşütü ile “bağımsız” olarak inecektir.</li>
    </ul> <br>



    <div class="row">

        <img src="@Url.Content("~/Content/Site/fotoğraflar/ku.png")" alt="KurtarmaSistemi"><br><br>

    </div>





</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
